:root {
  --main:    rgb(95, 188, 228); 
  --secondary:    rgb(34, 143, 190); 
  --accent:    rgb(28, 130, 173); 
  --pale:    rgb(218, 244, 255); 
}

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: white;
}

.navbar_button {
  padding: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px var(--secondary);
}

.navbar_button:hover {
  background-color: var(--accent);
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;  
  width: 80%;
  left: 10%;
  display: block;
  position: relative;
  background-color: var(--main);
  text-align: center;
}

#banner {
  width: 80%;
  left: 10%;
  display: block;
  position: relative;
  background-color: var(--main);
}

#banner > h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-shadow: 3px 3px var(--secondary);
}

h2, h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content_box {
  width: 80%;
  position: relative;
  left: 10%;
  padding-bottom: 100%;
  background-color: var(--pale);
}

form {
  position: relative;
  left: 10%;
  width: 80%;
}

label {
  display: inline-block;
  width: 90px;
  padding-bottom: 10px;
}

input {
  width: calc(100% - 100px);
}

button:not(#copy_timestamp_button) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 24px;
}

#timestamp_box {
  position: relative;
  width: 33%;
  left: 33%;
}

#results {
  position: absolute;
  left: 25%;
  width: 50%;
  border: 2px solid var(--accent);
  border-radius: 12px;
  background-color:white;
}

.results_item {
  text-align: left;
  padding: 10px 0 0 20px;
}

#copy_timestamp_button {
  position: absolute;
  left: 95%;
  top: 40%;
} 
