:root {
  --main:    rgb(95, 188, 228); 
  --secondary:    rgb(34, 143, 190); 
  --dark:    rgb(0, 108, 155); 
}

* {
  margin: 0;
  padding: 0;
  clear: both;
}

.navbar_button {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px var(--dark);
  width: 126px;
}

.navbar_button:hover {
  background-color: var(--white);
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;  
  display: block;
  position: relative;
  background-color: var(--secondary);
  text-align: center;
}

#banner {
  display: block;
  position: relative;
  background-color: var(--secondary);
}

#banner_title {
  display: block;
  margin: auto;
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
  text-decoration: none;
}

h2, h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.content_box {
  position: relative;
  padding-bottom: 100%;
  background-color: var(--dark);
  font-weight: bold;
}

form {
  position: relative;
  width: 70%;
  left: 15%;
  border-radius: 20px;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

label {
  display: inline-block;
  width: 65px;
  padding: 20px;
}

input {
  width: calc(100% - 150px);
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid var(--dark);
}

button {
  padding: 4px 20px;
  font-size: 10pt;
}

#typeList {
  display: inline-block;
  margin-left: 10px;
  width: 100px;
}

button:not(#copy_timestamp_button) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#results {
  position: relative;
  width: 70%;
  left: 15%;
  border-radius: 20px;
  background-color: white;
}

.results_item {
  text-align: left;
  padding: 10px 0 0 20px;
}

#timestamp_box {
  position: relative;
}

#timestamp {
  display: inline-block;
  width: calc(60% - 80px);
  margin-left: 20%;
}

#timestamp_box > button {
  display: inline-block;
} 

#instructions {
  position: absolute;
  width: 70%;
  left: 15%;
  border-radius: 20px;
  background-color: white;
}

#instructions > .instruction {
  display: inline-block;
  padding-bottom: 12px;
  padding-left: 5px;
}

#instructions > .num {
  padding-left: 25px;
}

#instructions > h4 {
  padding: 14px;
}

#followingInput {
  width: auto;
}